body{
    background-image: url("main-parts/paperbg.jpg");
    background-color: #cccccc;
    position:relative;
    mix-blend-mode: multiply;
}


.container{
    width:1440px;
    height:640px;
    background-color:transparent;
    top:60px;
    left:0px;
    position:fixed;
    padding:0px;
    margin:0px;
}

#travelLog {
    width:30%;
    height:auto;
    top:0%;
    left:150px;
    position:absolute;
    margin:10px;
    mix-blend-mode: multiply;
}

svg {
    width:100%;
    height:100%;
    position:absolute;
    top:0%;
    left:0%;
    mix-blend-mode: color-burn;
}

/* 
.feature>div {
    background-color:#D46262;
    width:80%;
    height:80%;
    border-radius: 50%;
    align-items: inherit;
    position:absolute;
    z-index:1;
    box-sizing: border-box;
} */

img.feature {
    position:absolute;
    transition: transform .6s ease; 
}

img.feature:hover{
    transform: scale(1.3);
}


#newyork {
    top:32%;
    left:72%;
    width:170px;
}

#tokyo {
    top:25%;
    left:40%;
    width:150px;
}

#hcmc {
    top:40%;
    left:35%;
    width:170px;
}

#jakarta {
    top:55%;
    left:35%;
    width:180px;
}

#leiden {
    top:18%;
    left:10%;
    width:200px;
}

#istanbul {
    top:30%;
    left:23%;
    width:150px;
}

#dubai {
    top:45%;
    left:27%;
    width:150px;
}

#miyakejima {
    top:40%;
    left:45%;
    width:200px;
}

#marrakech {
    top:40%;
    left:15%;
    width:150px;
}

#porto {
    top:30%;
    left:5%;
    width:150px;
}


.horizonLine{
    width:100%;
    height:1px;
    position:absolute;
    background-color:black;
}

.verticalLine{
    width:1px;
    height:100%;
    position:absolute;
    background-color:black;
}

div#line1.horizonLine{
    top:10%;
    left:0%;
}

#line2{
    top:20%;
    left:0%;
}

#line3{
    top:30%;
    left:0%;
}

#line4{
    top:40%;
    left:0%;
}

#line5{
    top:50%;
    left:0%;
}

#line6{
    top:60%;
    left:0%;
}

#line7{
    top:70%;
    left:0%;
}

#line8{
    top:80%;
    left:0%;
}

#line9{
    top:90%;
    left:0%;
}

#line10{
    top:100%;
    left:0%;
}

div#line1.verticalLine{
    top:0%;
    left:10%;
}

div#line2.verticalLine{
    top:0%;
    left:20%;
}

div#line3.verticalLine{
    top:0%;
    left:30%;
}

div#line4.verticalLine{
    top:0%;
    left:40%;
}

div#line5.verticalLine{
    top:0%;
    left:50%;
}

div#line6.verticalLine{
    top:0%;
    left:60%;
}

div#line7.verticalLine{
    top:0%;
    left:70%;
}

div#line8.verticalLine{
    top:0%;
    left:80%;
}

div#line9.verticalLine{
    top:0%;
    left:90%;
}

div#line10.verticalLine{
    top:0%;
    left:100%;
} */


/*menu*/

.menu{
    background-color:transparent;
    width: 100%;
    height: 50px;
    position:fixed;
    top:0px;
    left:0px;
    z-index:1;
}

h3{
    color:black;
    z-index: 2;
    font-family: 'IBMPlexSans-Regular', sans-serif;
    margin:10px;
    font-size: 24px;
}

#about{
    top:0%;
    left: 60%;
    position: fixed;
}

#collections {
    top:0%;
    left:73%;
    position: fixed;
}

#mapword {
    top:0%;
    left:90%;
    position: fixed;
}

#tc {
    z-index:2;
    position:fixed;
    top:0px;
    left:0%;
    margin:10px;
    width:400px;
    height:auto;
}


h4{
    z-index: 3;
    font-family: 'IBMPlexSans-Regular', sans-serif;
    margin:10px;
}

p{
    font-family: 'IBMPlexSans-Regular', sans-serif;
    font-size: small;
    position:absolute;
}