body{
    background-image: url("paperbg.jpg");
    /* background-repeat: repeat; */
    background-color: #cccccc;
    position:relative;

}

.container {
    width:100vw;
    height:680px;
    background-color:transparent;  
    top:10%;
    left:0%;
    float:left;
    clear:none;
    z-index:1;
    position:relative;
}

.textContainer{
    width:50vw;
    height:600px;
    background-color:transparent;
    top:10%;
    left:0%;
    position:absolute;
    /* margin:10px; */
    /* display:flex; */
}

.picContainer{
    width:50vw;
    height:600px;
    background-color:transparent;
    top:10%;
    left:50%;
    position:absolute;
    /* margin:10px; */
    align-items: center;
    /* display:flex; */
}

.mainParagraph{
    top:5%;
    left:10%;
    position:absolute;
    width:380px;
    animation-name: appear;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.explain{
    top:30%;
    left:10%;
    position:absolute;
    width:500px;
    animation-name: appear;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.picture {
    height:auto;
    position:absolute;
    mix-blend-mode: darken;
    opacity:0;
    animation-name: appear;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#pictureOne {
    top:12%;
    left:5%;
    width:400px;
    z-index: 2;
    transform:rotate(-7deg);
}

#pictureTwo {
    top:40%;
    left:40%;    
    width:300px;
    transform:rotate(7deg);
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
  }
/* menu */

.menu{
    background-color:transparent;
    width: 100%;
    height: 70px;
    position:fixed;
    top:0px;
    left:0px;
    z-index:1;
    background-image: url("paperbg.jpg");
}

h3{
    color:black;
    z-index: 2;
    font-family: 'IBMPlexSans-Regular', sans-serif;
    margin:10px;
    font-size: 24px;
}


h2{
    color:black;
    z-index: 2;
    font-family: 'IBMPlexSans-Regular', sans-serif;
    /* margin:10px; */
    font-size: 30px;
    line-height: 1.5;
}


p{
    font-family: 'IBMPlexSans-Regular', sans-serif;
    font-size: small;
    position:absolute;
}

#about{
    top:0%;
    left: 60%;
    position: absolute;
}

#collections {
    top:0%;
    left:73%;
    position: absolute;
}

#mapword {
    top:0%;
    left:90%;
    position: absolute;
}

#tc {
    z-index:2;
    position:absolute;
    top:0px;
    left:0%;
    margin:10px;
    width:400px;
    height:auto;
}

