body{
    background-image: url("paperbg.jpg");
    background-color: #cccccc;
    position:relative;
}


/*menu*/

.menu{
    background-color:transparent;
    width: 100%;
    height: 50px;
    position:fixed;
    top:0px;
    left:0px;
    z-index:1;
}

h3{
    color:black;
    z-index: 2;
    font-family: 'IBMPlexSans-Regular', sans-serif;
    margin:10px;
    font-size: 24px;
}

#about{
    top:0%;
    left: 60%;
    position: absolute;
}

#collections {
    top:0%;
    left:73%;
    position: absolute;
}

#mapword {
    top:0%;
    left:90%;
    position: absolute;
}

#tc {
    z-index:2;
    position:absolute;
    top:0px;
    left:0%;
    margin:10px;
    width:400px;
    height:auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    left: 40% ; /* 15% from the top and centered */
    top:40%;
    padding: 20px;
    padding-right:20px;
    /* border: 1px solid #888; */
    width: 20%; /* Could be more or less, depending on screen size */
    height:20%;
    align-content: center;
    position:relative;
}
  
  
  
  /* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

h4{
    z-index: 3;
    font-family: 'IBMPlexSans-Regular', sans-serif;
    margin:10px;
}

p{
    font-family: 'IBMPlexSans-Regular', sans-serif;
    font-size: small;
    position:absolute;
}

.example-double {
    /* opacity: 0.8; */
    margin: auto;
    background-color: #D46262;
    border: solid 2px #fff;
    width: 11px;
    height: 11px;
    /* -moz-border-radius: 11px;
    -webkit-border-radius: 11px; */
    border-radius: 50%;
    box-shadow: 0 0 0 2px #D46262;
    /* -webkit-box-shadow: 0 0 0 1px #D46262;
    -moz-box-shadow: 0 0 0 1px #D46262; */
    position:absolute;
    mix-blend-mode: multiply;
    top:37.5%;
    left:10%;
}

.example-red {
    margin: auto;
    background-color: #D46262;
    width: 11px;
    height: 11px;
    mix-blend-mode: multiply;
    border-radius: 50%;
    position:absolute;
    top:58.5%;
    left:10%;
}

.example-blue {
    margin: auto;
    background-color: #6262D5;
    width: 11px;
    height: 11px;
    mix-blend-mode: multiply;
    border-radius: 50%;
    position:absolute;
    top:78.5%;
    left:10%;
}


#check {
    top:25%;
    left:15%;
    text-align: left;
    margin:20px;
    width:250px;
    height:auto;
}

#been {
    top:45%;
    left:15%;
    text-align: left;
    margin:20px;
    width:250px;
    height:auto;
}

#wouldlove {
    top:65%;
    left:15%;
    text-align: left;
    margin:20px;
    width:250px;
    height:auto;
}


/* individual city page */
.container{
    width:1440px;
    height:680px;
    background-color:transparent;
    top:60px;
    left:0px;
    position:relative;
    padding:0px;
    margin:0px;
}

.bgpt{
    background-image: url("portobg.svg");
    width:1440px;
    height:auto;
    top: 50%;
    left:0%;
    mix-blend-mode: multiply;
    position: fixed;
    z-index: 1;
}


.title{
    position:absolute;
}

.paragraph{
    top:25%;
    left:0%;
    margin-left:2%;
    position:absolute;
    width:250px;
    z-index:3;
    font-family: 'IBMPlexSans-Regular';
    font-size: 12px;
    color:black;
}

.flag{
    position:absolute;
    mix-blend-mode: multiply;
    top:60%;
    left:0%;
    width: 200px;
    height:auto;
    z-index:2;
    margin-left:2%;
}

.arrow {
    position:absolute;
    mix-blend-mode: multiply;
    top:250px;
    left:150%;
    width:10%;
    height:auto;
}

/* porto */

.piecespt{
    position:absolute;
    filter: drop-shadow(0 0 0.75rem gray);
    z-index: 2;
}


.titlept {
    top:5%;
    left:0%;
    width:25%;
    height:auto;
}

#pt1 {
    top:100px;
    left:25%;
    width:18%;
    height:auto;
}

#pt2 {
    top:60px;
    left:40%;
    width:20%;
    height:auto;
}

#pt3 {
    top:250px;
    left:30%;
    width:25%;
    height:auto;
}

#pt4 {
    top:200px;
    left:55%;
    width:25%;
    height:auto;
}

#pt5 {
    top:200px;
    left:80%;
    width:20%;
    height:auto;
}

#pt6 {
    top:100px;
    left:70%;
    width:20%;
    height:auto;
}

#pt7 {
    top:150px;
    left:100%;
    width:30%;
    height:auto;
}