body{
    background-image: url("paperbg.jpg");
    background-repeat: repeat;
    background-color: #cccccc;
    position:relative;
}

.menu{
    background-color: black;
    width: 150px;
    height: 100%;
    position:fixed;
    top:0px;
    left:0px;
    z-index:2;
}

h3{
    color:black;
    font: "IBMPlexSans-Regular",sans-serif;
    margin-left:200px;
}

select {
    margin-left:200px;
}